<h1 class="text-center">フォロワー一覧</h1>

<% if @followers.any? %>
  <% @followers.each do |follower| %>
    <div class="user-index row mx-auto border border-secondary mt-5 rounded text-center p-3 bg-light text-dark">
      <%= link_to user_path(follower), class:"col-6 user-show-link" do %>
        <div>
          <p class="small-picture"><%= image_tag follower.picture.url if follower.picture? %></p>
        </div>
        <div class='user-name'>
          <%= follower.name %>
        </div>
        <div class="hidden-class">
          <p class="hidden-text text-center">詳しく見る！</p>
        </div>
      <% end %>
        <div class="user-intro col-6 d-flex flex-column justify-content-between">
          <p><%= follower.prefecture %></p>
          <p><%= follower.year%></p>
          <%= render 'relationships/follow_button', user: follower %>
        </div>
    </div>
  <% end %>
<% else %>
    <h1 class="jumbotron text-center text-danger mt-5 opacity-class">フォロワーが存在しません。</h1>
<% end %>