<h1 class="text-center">フォロー一覧</h1>

<% if @followings.any? %>
  <% @followings.each do |following| %>
    <div class="user-index row mx-auto border border-secondary mt-5 rounded text-center p-3 bg-light text-dark">
      <%= link_to user_path(following), class:"col-6 user-show-link" do %>
        <div>
          <p class="small-picture"><%= image_tag following.picture.url if following.picture? %></p>
        </div>
        <div class='user-name'>
          <%= following.name %>
        </div>
        <div class="hidden-class">
          <p class="hidden-text text-center">詳しく見る！</p>
        </div>
      <% end %>
        <div class="user-intro col-6 d-flex flex-column justify-content-between">
          <p><%= following.prefecture %></p>
          <p><%= following.year%></p>
          <%= render 'relationships/follow_button', user: following %>
        </div>
    </div>
  <% end %>
<% else %>
    <h1 class="jumbotron text-center text-danger mt-5 opacity-class">フォローユーザーが存在しません。</h1>
<% end %>