<h1 class='text-center'>ユーザー　一覧</h1>

<% if @users.any? %>
  <% @users.each do |user| %>
    <div class="user-index row mx-auto border border-secondary mt-5 rounded text-center p-3 bg-light text-dark">
      <%= link_to user_path(user), class:"col-6 user-show-link" do %>
        <div>
          <p class="small-picture"><%= image_tag user.picture.url if user.picture? %></p>
        </div>
        <div class="user-name">
          <%= user.name %>
        </div>
        <div class="hidden-class">
          <p class="hidden-text text-center">詳しく見る！</p>
        </div>
      <% end %>
        <div class="user-intro col-6 d-flex flex-column justify-content-between">
          <p><%= user.prefecture %></p>
          <p><%= user.year%></p>
          <%= render 'relationships/follow_button', user: user %>
        </div>
    </div>
  <% end %>
<% else %>
  <h1 class="jumbotron text-center text-danger mt-5 opacity-class">ユーザーが存在しません。</h1>
<% end %>

<div class='mt-5'>
  <%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
</div>
