<div>
  <div class="user-show row mx-auto border border-secondary rounded text-center p-3 bg-light text-dark">
    <div class="col-4 p-0">
      <p class="small-picture"><%= image_tag @user.picture.url if @user.picture? %></p>
      <div class="user-show-name">
        <%= @user.name %>
      </div>
      <div class="d-flex justify-content-around user-show-int">
        <span><%= @user.prefecture%></span>
      </div>
      <div class='user-show-int mb-2 mb-md-4'>
        <span><%= @user.year %></span>
      </div>
      <div class="follow-button">
        <%= link_to 'フォロー' , followings_user_path, class: 'btn btn-secondary'%> 
        <%= link_to 'フォロワー' , followers_user_path, class: 'btn btn-secondary'%> 
      </div>
    </div>
    
    <div class="col-8 d-flax flex-column justify-content-betweend p-0">
      <div class="user-show-introduce bg-dark rounded text-light text-left mb-4">
        <%= @user.introduce %>
      </div>
      <% if current_user.id == @user.id %>
        <div class='text-center'>
          <%= link_to 'Change', edit_user_path, class:'btn btn-warning btn-lg' %>
        </div>
      <% else %>
        <div class="d-flex justify-content-around align-items-center">
          <div><%= render 'relationships/follow_button', user: @user %></div>
          <%= link_to user_message_path(@user) do %>
            <i class="message-icon far fa-envelope text-center text-secondary"></i><span class="badge badge-danger"><%= @count_receiced_messages %></span>
            <!--それぞれのユーザーごとの未読メッセージ-->
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>